//<сетка>
$columns: 36;
$atom: 100vw / $columns;
//</сетка>
//<цвета>
$darkgrey: #333333;
//</цвета>
//<брейкпоинты>
$extra_large: "max-width: 1440px";
$large: "max-width: 1050px";
$medium: "max-width: 768px";
$small: "max-width: 480px";
$extra_small: "max-width: 360px";
//</брейкпоинты>
